The same way as Databricks shows the dependecies that we used in the previous task, Lufthansa also provides a table of its fleet on the following page:
https://investor-relations.lufthansagroup.com/en/corporate-facts/fleet.html

In [1]:
fleet = """Manufacturer/type	LH	LX	OS	EW	LCAG	Group fleet
Airbus A220	 	29	 	 	 	29
Airbus A319	30	3	7	73	 	113
Airbus A320	95	29	25	76	 	225
Airbus A321	68	9	6	5	 	88
Airbus A330	15	16	 	221)	 	53
Airbus A340	34	9	 	 	 	43
Airbus A350	15	 	 	 	 	15
Airbus A380	14	 	 	 	 	14
Boeing 747	32	 	 	 	 	32
Boeing 767	 	 	6	 	 	6
Boeing 777	 	12	6	 	 	18
Boeing 777F	 	 	 	 	112)	11
Boeing MD-11F	 	 	 	 	8	8
Bombardier CRJ	35	 	 	 	 	35
Bombardier Q-Series	 	 	15	153)	 	30
Embraer	26	 	17	 	 	43
Total aircraft	364	107	82	191	19	763"""

As this fleet will in the future change quickly for more fuel efficient airplanes, we want to automatically load that table in our script. A hint on how to do that can be found in this [base64](https://docs.python.org/3/library/base64.html) encoded string:
```
aHR0cHM6Ly9wYW5kYXMucHlkYXRhLm9yZy9wYW5kYXMtZG9jcy9zdGFibGUvcmVmZXJlbmNlL2FwaS9wYW5kYXMucmVhZF9odG1sLmh0bWw=
```

In [ ]:
# write your code here

In [2]:
import pandas as pd
dfs = pd.read_html("https://investor-relations.lufthansagroup.com/en/corporate-facts/fleet.html")

In [3]:
df = dfs[0]

In [4]:
df

      Manufacturer/type     LH     LX    OS    EW  LCAG  Group fleet
0           Airbus A220    NaN   29.0   NaN   NaN   NaN           29
1           Airbus A319   30.0    3.0   7.0    73   NaN          113
2           Airbus A320   95.0   29.0  25.0    76   NaN          225
3           Airbus A321   68.0    9.0   6.0     5   NaN           88
4           Airbus A330   15.0   16.0   NaN  221)   NaN           53
5           Airbus A340   34.0    9.0   NaN   NaN   NaN           43
6           Airbus A350   15.0    NaN   NaN   NaN   NaN           15
7           Airbus A380   14.0    NaN   NaN   NaN   NaN           14
8            Boeing 747   32.0    NaN   NaN   NaN   NaN           32
9            Boeing 767    NaN    NaN   6.0   NaN   NaN            6
10           Boeing 777    NaN   12.0   6.0   NaN   NaN           18
11          Boeing 777F    NaN    NaN   NaN   NaN  112)           11
12        Boeing MD-11F    NaN    NaN   NaN   NaN     8            8
13       Bombardier CRJ   35.0    NaN   NaN   NaN   NaN           35
14  Bombardier Q-Series    NaN    NaN  15.0  153)   NaN           30
15              Embraer   26.0    NaN  17.0   NaN   NaN           43
16       Total aircraft  364.0  107.0  82.0   191    19          763